<!DOCTYPE html>

<html>

<head>

  <title>Location to drop off sample</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/make-submit.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" class="content" href="/"><span class="bigger">Drug Help</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/About"><span class = "bigger">About</span> </a></li>
        <li><a href="/FAQ"><span class="bigger">FAQ</span></a></li>
        
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class = "jumbotron">
        <h2> Location to drop off sample </h2>
        <p>201 Spencer St, Docklands VIC 3008</p>
        <button><a href="/confirmSubmission">OK</a></button>
    </div>
    <div id="googleMap" style="width:100%;height:380px;"></div>

</div>  





<!--JQUERY-->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


<!-- BOOtSTRAP JAVASCRIPT-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
    function myMap() {
    var map = new google.maps.Map(document.getElementById("googleMap"),{
    center:new google.maps.LatLng(-37.8130381,144.941159),
    zoom:13.5
    });

    marker = new google.maps.Marker({
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: {lat: -37.8130381, lng: 144.941159}
        });
        marker.addListener('click', toggleBounce);
    }


    function toggleBounce() {
    if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
    } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
    }

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRvXTwRt9lZuAj_SF-4U_6DQo_ujWg0Q&callback=myMap"></script>

</body>


</html>