<!DOCTYPE html>

<html>

<head>

  <title>MDMA Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/make-submit.css">
  <link rel="stylesheet" href="/stylesheets/DrugAnalysisCSS.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" class="content" href="/"><span class="bigger">Drug Help</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><span class = "bigger">About</span> </a></li>
          <li><a href="#"><span class="bigger">FAQ</span></a></li>

        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1> MDMA Analysis </h1>
      <p> These are the results of your recent drug safety examination.</p>
    </div>
  </div>
  <div class="centerit">
  <div id="site-content">
    <div class="result-type">
      <h3 class="h3-text-1">You said it was:
      </h3>
      <ul>
        MDMA
      </ul>
    </div>

    <div class="result-type">
      <h3 class="h3-text-1">MDMA purity:
      </h3>
      <ul>
        0%
      </ul>
    </div>

    <div class="result-type">
      <h3 class="h3-text-1">Main Impurities:
      </h3>
      <ul>
        Alcohol Ethoxylate (40%)
      </ul>
      <ul>
        Amine Oxide (40%)
      </ul>
      <ul>
        Cyclodextrin (20%)
      </ul>

    </div>

    <div class="result-type">
      <h3 class="h3-text-1">Recommended Dose:
      </h3>
      <ul>
        None
      </ul>
    </div>

    <div class="result-type">
      <h3 class="h3-text-1">Comments:
      </h3>
      <ul>
        Sample washes clothes very well. DO NOT CONSUME.
      </ul>
    </div>

    
  </button>

  </div>
  </div>
  <!--JQUERY-->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <!-- BOOtSTRAP JAVASCRIPT-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>