<!DOCTYPE html>

<html>

<head>

  <title>Drug Help</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/make-submit.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    console.log("helo");
    const http = new XMLHttpRequest()

    http.open("GET", "https://api.lyrics.ovh/v1/shakira/waka-waka")
    http.send()

    http.onload = () => console.log(http.responseText)
  </script>
</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" class="content" href="/"><span class="bigger">Drug Help</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class = "bigger">About</span> </a></li>
        <li><a href="/FAQ"><span class="bigger">FAQ</span></a></li>
        
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <div class = "jumbotron">
    <h1> Examinable Drugs </h1>
    <p> Choose the the drug that you would like to sample</p>
    <!-- <div class="md-form mt-0">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
</div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
      <a href="/MDMA">
        <img src="/stylesheets/cocaine.png">
        <p class="centerit"> Cocaine</p>
      </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class = "thumbnail">
      <a href="/MDMA">
        <img src="/stylesheets/MDMA.png">
        <p class="centerit"> MDMA / Ecstasy</p></a>

      </div>  
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
      <a href="/MDMA">
        <img src="/stylesheets/meth.png">
        <p class="centerit"> Methamphetamines</p>
      </a>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
      <a href="/MDMA">
        <img src="/stylesheets/heroin.png">
        <p class="centerit"> Heroin</p>
      </a>

      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class = "thumbnail">
      <a href="/MDMA">

        <img src="/stylesheets/shrooms.png">
        <p class="centerit"> Mushrooms </p>
      </a>
      </div>  
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
      <a href="/MDMA">

        <img src="/stylesheets/LSD.png">
        <p class="centerit"> LSD </p>
      </a>
      </div>
    </div> 
  </div>

 

</div>  





<!--JQUERY-->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


<!-- BOOtSTRAP JAVASCRIPT-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>


</html>