<!DOCTYPE html>

<html>

<head>

  <title>Drug Help</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/make-submit.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" class="content" href="/"><span class="bigger">Drug Help</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class = "bigger">About</span> </a></li>
        <li><a href="#"><span class="bigger">FAQ</span></a></li>
        
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
<div class="col-xs-12" id="demoContainer">
                <form id="registrationForm" class="form-horizontal fv-form fv-form-bootstrap" novalidate="novalidate">
                  <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    
    <div class="form-group">
        <label class="col-xs-3 control-label">You selcted MDMA</label>
        <div class="col-xs-5">
            <label class="col-xs-3 control-label">You need to bring 0.5-1g</label>

        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Postcode</label>
        <div class="col-xs-5">
            <input type="text" class="form-control"/>
        </div>
    </div>
    

    <div class="form-group">
        <label class="col-xs-3 control-label">Gender</label>
        <div class="col-xs-6">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="male" /> Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="female" /> Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="other" /> Other
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Terms of use</label>
        <div class="col-xs-9">
            <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Drug Help accessible at drughelp.com.</p>
                <p>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions. These Terms and Conditions have been generated with the help of the Terms And Conditions Template and the Privacy Policy Template.</p>
                <p>Minors or people below 18 years old are not allowed to use this Website.</p>
                <h4>Intellectual Property Rights</h4>
                <p>Other than the content you own, under these Terms, Saturday and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>
                <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>
                <p>This Website is provided "as is," with all faults, and Saturday express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="agree" value="agree" /> Agree with the terms and conditions
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" class="btn btn-info btn-lg" ><a href ="/allocate">Submit</a></button>
        </div>
    </div>
</form>
    </div>
  </div>
